<h1>Create a new Book</h1>

<form enctype="multipart/form-data" method="POST">
  <label for="name">
    Name: <input type="text" name="name" id="name">
  </label>
  <label for="edition">
    Edition: <input type="text" name="edition" id="edition">
  </label>
  <label for="isbn">
    ISBN: <input type="text" name="isbn" id="isbn">
  </label>
  <label for="tags">
    Tags: <input type="text" name="tags" id="tags">
  </label>
  <label for="review">
    Review: <input type="number" name="review" id="review">
  </label>
  <label for="picture">
    Picture: <input type="file" name="picture" id="picture">
  </label>
  <button type="submit">Create</button>
</form>