<<<<<<< HEAD
{{#each sections as |section|}}
  <section class="action">
    {{#each section as |data|}}
    <h1>{{data.title}}</h1>

    <ol>
      {{#each data.links as |action|}}
      <li>
        <a href="{{action.link}}">{{action.label}}</a>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </section>
{{/each}}
=======
<h1 class="text-center">
  Books CMS HP
</h1>
>>>>>>> Update entities routes
