<h1>Query author page</h1>

<section>
  <p>
    Name: {{author.name}}
  </p>
  <p>
    Address: {{author.address}}
  </p>
  <p>
    Phone Number: {{author.phoneNumber}}
  </p>
  <a href="/update/author/{{author._id}}/">Edit</a>
</section>